In [1]:
import pandas as pd

In [2]:
import matplotlib.pyplot as plt
%matplotlib inline

In [1]:
from pandasgui import show
gui  = show (dropped)

NameError: name 'dropped' is not defined

In [3]:
ds_02 =  pd.read_csv('merge1-Copy1.csv')

In [16]:
ds_02.keys()

Index(['Unnamed: 0', 'tconst', 'averagerating', 'numvotes', 'primary_title',
       'original_title', 'start_year', 'runtime_minutes', 'genres'],
      dtype='object')

In [4]:
ds_01 =  pd.read_csv('merge1.csv')

In [5]:
ds_01.head()

,Unnamed: 0,tconst,averagerating,numvotes,primary_title,original_title,start_year,runtime_minutes,genres
0,0,tt10356526,8.3,31,Laiye Je Yaarian,Laiye Je Yaarian,2019,117.0,Romance
1,1,tt10384606,8.9,559,Borderless,Borderless,2019,87.0,Documentary
2,2,tt1042974,6.4,20,Just Inès,Just Inès,2010,90.0,Drama
3,3,tt1043726,4.2,50352,The Legend of Hercules,The Legend of Hercules,2014,99.0,"Action,Adventure,Fantasy"
4,4,tt1060240,6.5,21,Até Onde?,Até Onde?,2011,73.0,"Mystery,Thriller"

In [5]:
dropped = ds_02.drop(['Unnamed: 0','tconst','averagerating','numvotes','primary_title','runtime_minutes'], axis=1)

In [6]:
dropped.sort_values(by='start_year', ascending=False)

,original_title,start_year,genres
0,Laiye Je Yaarian,2019,Romance
23991,"Out of Sight, Out of Mind",2019,Drama
24002,I Hate Kids,2019,Comedy
24012,Use Me,2019,Thriller
24028,Parningsmarknaden,2019,Documentary
...,...,...,...
36328,Taliya.Date.Com,2010,"Biography,Comedy,Documentary"
36325,Israel vs Israel,2010,Documentary
17412,Çok Filim Hareketler Bunlar,2010,Comedy
17411,Indiana Jones und der Speer des Schicksals,2010,"Action,Adventure"
7772,Doenjang,2010,"Drama,Mystery,Romance"

In [7]:
dropped.keys()

Index(['original_title', 'start_year', 'genres'], dtype='object')

In [8]:
dropped.tail()

,original_title,start_year,genres
73851,Caisa,2018,Documentary
73852,Code Geass: Lelouch of the Rebellion Episode III,2018,"Action,Animation,Sci-Fi"
73853,Sisters,2019,"Action,Drama"
73854,The Projectionist,2019,Documentary
73855,Sathru,2019,Thriller

In [11]:
plt_x = []
plt_x.extend(dropped['start_year'].tolist())
years = []
[years.append(x)for x in plt_x if x not in years]

[None, None, None, None, None, None, None, None, None, None]

In [12]:
years

[2019, 2010, 2014, 2011, 2016, 2013, 2015, 2012, 2017, 2018]

In [29]:
plt_y = []
plt_y.extend(dropped['genres'].tolist())

Need to clean/split and remove duplicates for plt_y

2 seperate lists, 1 with genres to years and 2 with multiple genres and year

#csv to array then explode

for year in years:
    genres = dropped.loc[dropped["start_year"].isin([year])]
    temp = genres.explode("genres")
    temp = temp.groupby("genres")
    
    print(temp.agg(["count"]))

In [22]:
#dropped.plot(plt_x,plt_y)
#x = [2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019]
#genre_01 = [count in 2010, 2011, 2012...]
#genre_02 = [count in 2010, 2011, 2012...]

In [43]:
#working function
for year in years:
    genres = dropped.loc[dropped["start_year"].isin([year])]["genres"]
    dropped.groupby("genres")
    finalGenres = {}
    for genre in genres:
        if type(genre) == str:
            vals = genre.split(",")
            for val in vals:
                if(val in finalGenres):
                    finalGenres[val] = finalGenres[val]+1
                else:
                    finalGenres[val] = 1
    
    print(year,finalGenres)
    print(finalGenres.keys())
    print(finalGenres.items())
    [
        [
            col1Name,col2Name
        ],
        [
            val,val
        ]
        
    ]
    break

2019 {'Romance': 168, 'Documentary': 401, 'Drama': 900, 'Thriller': 261, 'Action': 204, 'Comedy': 553, 'Crime': 125, 'Horror': 204, 'Sci-Fi': 65, 'Adventure': 107, 'Animation': 61, 'Biography': 83, 'Family': 83, 'War': 25, 'Music': 38, 'History': 40, 'Fantasy': 61, 'Mystery': 72, 'Sport': 31, 'Musical': 16, 'Western': 6, 'News': 2}
dict_keys(['Romance', 'Documentary', 'Drama', 'Thriller', 'Action', 'Comedy', 'Crime', 'Horror', 'Sci-Fi', 'Adventure', 'Animation', 'Biography', 'Family', 'War', 'Music', 'History', 'Fantasy', 'Mystery', 'Sport', 'Musical', 'Western', 'News'])
dict_items([('Romance', 168), ('Documentary', 401), ('Drama', 900), ('Thriller', 261), ('Action', 204), ('Comedy', 553), ('Crime', 125), ('Horror', 204), ('Sci-Fi', 65), ('Adventure', 107), ('Animation', 61), ('Biography', 83), ('Family', 83), ('War', 25), ('Music', 38), ('History', 40), ('Fantasy', 61), ('Mystery', 72), ('Sport', 31), ('Musical', 16), ('Western', 6), ('News', 2)])

NameError: name 'col1Name' is not defined

In [51]:
for year in years:
    
    print("***********",year,"****************")
    genres = dropped.loc[dropped["start_year"].isin([year])]["genres"]
    dropped.groupby("genres")
    finalGenres = {}
    for genre in genres:
        if type(genre) == str:
            vals = genre.split(",")
            for val in vals:
                if(val in finalGenres):
                    finalGenres[val] = finalGenres[val]+1
                else:
                    finalGenres[val] = 1
    output = {"genres":[],"count":[]}
    for elem in finalGenres:
        output["genres"].append(elem)
        output["count"].append(finalGenres[elem])
    df  = pd.DataFrame(output)
    print(df)

*********** 2019 ****************
         genres  count
0       Romance    168
1   Documentary    401
2         Drama    900
3      Thriller    261
4        Action    204
5        Comedy    553
6         Crime    125
7        Horror    204
8        Sci-Fi     65
9     Adventure    107
10    Animation     61
11    Biography     83
12       Family     83
13          War     25
14        Music     38
15      History     40
16      Fantasy     61
17      Mystery     72
18        Sport     31
19      Musical     16
20      Western      6
21         News      2
*********** 2010 ****************
         genres  count
0         Drama   2902
1        Comedy   1606
2       Romance    642
3     Biography    341
4         Sport     93
5   Documentary   1644
6      Thriller    672
7       Fantasy    188
8       History    274
9           War     90
10       Sci-Fi    196
11       Horror    646
12       Action    691
13        Crime    424
14        Music    193
15    Adventure    313
16       Family    299
17      Mystery    239
18      Musical     82
19         News     62
20    Animation    150
21      Western     25
22   Reality-TV      3
*********** 2014 ****************
         genres  count
0        Action    773
1     Adventure    454
2       Fantasy    240
3        Horror    899
4        Sci-Fi    253
5      Thriller    976
6        Comedy   1987
7         Music    272
8       Romance    842
9       Musical     77
10      Mystery    365
11  Documentary   2154
12        Drama   3529
13        Crime    524
14    Biography    603
15       Family    466
16      History    428
17        Sport    156
18      Western     39
19    Animation    191
20         News    127
21          War    108
22   Reality-TV      1
*********** 2011 ****************
         genres  count
0       Mystery    275
1      Thriller    713
2         Drama   3096
3           War     99
4     Biography    382
5         Sport    124
6        Action    692
7     Adventure    371
8   Documentary   1853
9        Comedy   1759
10        Crime    466
11       Horror    699
12        Music    230
13    Animation    199
14      Romance    637
15       Sci-Fi    200
16      Musical     81
17         News     71
18       Family    314
19      History    277
20      Fantasy    216
21      Western     30
*********** 2016 ****************
         genres  count
0        Action    858
1     Adventure    467
2        Sci-Fi    252
3     Biography    401
4         Drama   3523
5        Comedy   2013
6        Horror    953
7      Thriller   1025
8   Documentary   2095
9       History    277
10          War     95
11        Sport    149
12        Crime    591
13      Romance    769
14      Fantasy    275
15      Mystery    396
16    Animation    196
17      Musical     87
18        Music    173
19       Family    353
20      Western     24
21         News     22
22        Adult      1
23   Reality-TV      2
*********** 2013 ****************
         genres  count
0        Comedy   1895
1     Adventure    464
2     Animation    169
3         Drama   3497
4        Family    470
5       Fantasy    221
6      Thriller    936
7   Documentary   2027
8       Mystery    323
9        Action    717
10      History    377
11    Biography    521
12      Romance    774
13       Horror    810
14       Sci-Fi    260
15        Sport    142
16      Musical     82
17        Music    224
18        Crime    507
19         News    104
20          War     71
21      Western     27
22   Reality-TV      3
23    Game-Show      1
*********** 2015 ****************
         genres  count
0     Adventure    462
1     Animation    196
2        Comedy   1951
3         Drama   3629
4       Romance    799
5        Action    807
6     Biography    499
7   Documentary   2106
8       History    352
9        Horror    885
10     Thriller   1019
11        Crime    538
12      Mystery    374
13        Music    238
14      Fantasy    257
15       Sci-Fi    271
16       Family    415
17         News     90
18          War    103
19        Sport    141
20      Musical     70
21      Western     28
22        Adult      1
23   Reality-TV      4
*********** 2012 ****************
         genres  count
0        Action    691
1        Comedy   1826
2         Crime    473
3         Drama   3175
4       Romance    653
5   Documentary   1943
6         Sport    104
7      Thriller    798
8     Animation    167
9        Horror    827
10       Sci-Fi    208
11    Biography    396
12      Mystery    290
13         News     86
14      Fantasy    210
15      History    352
16          War     82
17       Family    364
18    Adventure    371
19        Music    249
20      Western     31
21      Musical     80
22        Adult      1
23   Reality-TV      1
*********** 2017 ****************
         genres  count
0   Documentary   2018
1         Drama   3483
2         Crime    532
3        Action    854
4        Horror    961
5      Thriller    956
6        Comedy   1914
7       Romance    690
8       Mystery    395
9       Fantasy    244
10    Animation    210
11      History    246
12    Biography    334
13       Sci-Fi    281
14    Adventure    435
15          War     99
16        Music    197
17       Family    349
18        Sport    124
19      Musical     75
20      Western     37
21         News     10
22   Reality-TV      1
23    Game-Show      1
*********** 2018 ****************
         genres  count
0   Documentary   1512
1         Drama   3054
2        Comedy   1786
3         Crime    431
4      Thriller    861
5       Romance    615
6        Horror    790
7       Mystery    310
8        Action    701
9       History    202
10    Animation    204
11      Fantasy    214
12    Adventure    373
13       Family    299
14        Music    154
15    Biography    249
16      Musical     71
17       Sci-Fi    220
18        Sport    115
19         News      5
20          War     81
21      Western     33
22   Reality-TV      2
23        Short      1