In [9]:
import pandas as pd

In [10]:
import matplotlib.pyplot as plt
%matplotlib inline

In [1]:
from pandasgui import show
gui  = show (dropped)

NameError: name 'dropped' is not defined

In [11]:
ds_02 =  pd.read_csv('merge1-Copy1.csv')

In [16]:
ds_02.keys()

Index(['Unnamed: 0', 'tconst', 'averagerating', 'numvotes', 'primary_title',
       'original_title', 'start_year', 'runtime_minutes', 'genres'],
      dtype='object')

In [12]:
ds_01 =  pd.read_csv('merge1.csv')

In [5]:
ds_01.head()

,Unnamed: 0,tconst,averagerating,numvotes,primary_title,original_title,start_year,runtime_minutes,genres
0,0,tt10356526,8.3,31,Laiye Je Yaarian,Laiye Je Yaarian,2019,117.0,Romance
1,1,tt10384606,8.9,559,Borderless,Borderless,2019,87.0,Documentary
2,2,tt1042974,6.4,20,Just Inès,Just Inès,2010,90.0,Drama
3,3,tt1043726,4.2,50352,The Legend of Hercules,The Legend of Hercules,2014,99.0,"Action,Adventure,Fantasy"
4,4,tt1060240,6.5,21,Até Onde?,Até Onde?,2011,73.0,"Mystery,Thriller"

In [13]:
dropped = ds_02.drop(['Unnamed: 0','tconst','averagerating','numvotes','primary_title','runtime_minutes'], axis=1)

In [14]:
dropped.sort_values(by='start_year', ascending=False)

,original_title,start_year,genres
0,Laiye Je Yaarian,2019,Romance
23991,"Out of Sight, Out of Mind",2019,Drama
24002,I Hate Kids,2019,Comedy
24012,Use Me,2019,Thriller
24028,Parningsmarknaden,2019,Documentary
...,...,...,...
36328,Taliya.Date.Com,2010,"Biography,Comedy,Documentary"
36325,Israel vs Israel,2010,Documentary
17412,Çok Filim Hareketler Bunlar,2010,Comedy
17411,Indiana Jones und der Speer des Schicksals,2010,"Action,Adventure"
7772,Doenjang,2010,"Drama,Mystery,Romance"

In [59]:
dropped.keys()

Index(['original_title', 'start_year', 'genres', 'x', 'y'], dtype='object')

In [22]:
dropped.tail()

,original_title,start_year,genres
73851,Caisa,2018,Documentary
73852,Code Geass: Lelouch of the Rebellion Episode III,2018,"Action,Animation,Sci-Fi"
73853,Sisters,2019,"Action,Drama"
73854,The Projectionist,2019,Documentary
73855,Sathru,2019,Thriller

In [15]:
plt_x = []
plt_x.extend(dropped['start_year'].tolist())
years = []
[years.append(x)for x in plt_x if x not in years]

[None, None, None, None, None, None, None, None, None, None]

In [16]:
years

[2019, 2010, 2014, 2011, 2016, 2013, 2015, 2012, 2017, 2018]

In [21]:
plt_y = []
plt_y.extend(dropped['genres'].tolist())

Need to clean/split and remove duplicates for plt_y

2 seperate lists, 1 with genres to years and 2 with multiple genres and year

In [22]:
#dropped.plot(plt_x,plt_y)
#x = [2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019]
#genre_01 = [count in 2010, 2011, 2012...]
#genre_02 = [count in 2010, 2011, 2012...]